#second {
  height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#second .video {
  width: 40vw;
  height: 78%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 2%;
}

#second video {
  height: 100%;
  overflow: hidden;
  transform: scale(1.004);
}

#second .bloco2-section-second {
  width: 30vw;
  height: 58%;
  padding: 2%;
  border-radius: 2%;
  margin-left: -8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-image: linear-gradient(to top, #ff6174, #c74e5c);
  z-index: 1;
}

#second .bloco2-section-second h2 {
  font-weight: 500;
  color: white;
}

#second .bloco2-section-second p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
}

@media screen and (max-width: 700px) {
  #second {
    flex-direction: column;
  }
  
  .video {
    width: 80vw !important;
    height: 55vh !important;
  }

  .video video {
    width: 100% !important;
  }
  
  .bloco2-section-second {
    margin-left: 0 !important;
    width: 96vw !important;
    height: 15vh !important;

    display: flex;
    align-items: center;

    border-radius: 0 !important;
    background-image: none !important;
    background-color: var(--red-light) !important;
  }

  .only-mobile {
    width: 70vw;
  }

  .bloco2-section-second h2 {
    font-size: 0.8rem !important;
  }

  .bloco2-section-second p {
    font-size: 0.8rem !important;
  }
}