.first {
  height: 80vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.midia {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: -1000;
  height: 80vh;
  width: 99vw;
}

.midia video {
  height: 100%;
}

.slogan {
  margin-left: 15%;
}

.first h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-justify: inter-word;
}
.first p {
  margin-top: 2rem;
  color: var(--cinza);
}

.first button {
  margin-top: 2rem;
  height: 50px;
  width: 35%;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 2%;
  background-color: var(--red);
}