* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --red: #c23949;
  --red-light: #e95163;
  --cinza: #757d93;

  --background: #f4f6f9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}